{% extends "base.html" %}

{% block content %}
  <h1>Author: {{ author}}</h1>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Books</h4>

    {% for book in author.book_set.all %}
      <hr>
      <p class="text-muted"><strong>Title:</strong> <a href="{{ book.get_absolute_url  }}">{{ book.title }}</a></p>
      <p class="text-muted"><strong>Status:</strong>
      <p class="text-muted"><strong>Num of copies:</strong> {{ book.instance_set.all.count }}</p>
    
        
    {% endfor %}
  </div>
{% endblock %}
