{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
<h2>Available Books List</h2>
<p>you can search</p>
<form method="get">
  <div class="row">
  <div class=" form-group col-xl-6 col-sm-6 col-md-6">
    {{ filter.form.book__title.label_tag }}
    {% render_field filter.form.book__title class="form-control" placeholder="e.g Art of Living"%}
  </div> 
  <div class="form-group col-auto">
  <button type='submit' class='btn btn-outline-primary mt-4'>Filter</button>
  </div>
</div>
</form>
<div class="col-8">
<table class="table table-striped align-items-center">
    <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Title</th>
          <th scope="col">Author</th>
          <!-- <th scope="col">Language</th> -->
          <th scope="col"></th>
        </tr>
      </thead>
  
    
            <tbody>
              {% for obj in instances %}
              <tr>
                <!-- <th scope="row">1</th> -->
                <td scope="row">{{ obj.id }}</td>
                <td scope="row">{{ obj.book.title}}</td>
                <td scope="row">{{ obj.book.author }}</td>
                <td scope="'row"><a href="{% url 'lend-instance' obj.id%}"><button type='button' class='btn btn-primary'>Lend</button></a></td>
              </tr>
              {% endfor %}
            </tbody>
    
</table>
</div>
{% endblock %}
