{% extends "base.html" %}

{% block content %}
  <h1>Title: {{ book.title }}</h1>

  <p><strong>Author:</strong> 
  <button class="btn btn-primary" type="button" hx-get="{%url 'add-instance' book.id%}" hx-target="numinstance" data-bs-toggle="collapse" data-bs-target="#instanceform" aria-expanded="false" aria-controls="collapseExample">
    
  </button>
  <div class="collapse" id="instanceform">
    <div  class="card card-body">
      <form>
      <div id="numinstance">
        
      </div>
    </form>
    </div>
  </div>
  <p><strong>Language:</strong> {{ book.language }}</p>
  {%if book.cover%}
  <img src="{{book.cover.url}}" width="100" height="50">
  {%endif%}
  <div style="margin-left:20px;margin-top:20px">
    <h4>Copies</h4>

    {% for copy in book.instance_set.all %}
      <hr>
     
      <p class="text-muted"><strong>Id:</strong> {{ copy.id }}</p>
      <p class="text-muted"><strong>Status:</strong>
      {%if copy.status %}
       <p class="text-danger">Borrowed</p></p>
      {% else %}<p class="text-success">Available</p>
      {% endif %}
        
    {% endfor %}
  </div>
{% endblock %}
