

{% extends "base.html" %}
<!-- {% load crispy_forms_tags %} -->
{% block content %}       
    
  
  
    
<div class="">
  <form  method="get">
    <div class="row gy-3 gx-1">
      
      <div class="col-9 col-xl-2">
        <label class="visually-hidden" for="id_id">Id:</label>
        <input type="number" placeholder="Book Id" class="form-control" name="id" step="any" id="id_id">
      </div>
     
      <div class="col-9 col-xl-3">
        <label class="visually-hidden" for="id_book__title__contains">Book title:</label>
        <input type="text" class="form-control" name="book__title__contains" placeholder="Book Title" id="id_book__title__contains">
      </div>
      
     
        <div class="col-9 col-xl-2">
          <label class="visually-hidden" for="id_borrower__first_name__contains">Borrower:</label>
        <input type="text" class="form-control" placeholder="first name" name="borrower__first_name__contains" id="id_borrower__first_name__contains">
      </div>
      
       <div class="col-9 col-xl-2">
        <label class="visually-hidden" for="id_borrowed_date__gt">Borrowed date After:</label>
        <input type="text" class="form-control" name="borrowed_date__gt" placeholder="Borrowed Date Before"id="id_borrowed_date__gt">
      </div>
     
        <div class="col-9 col-xl-2">
        <label class="visually-hidden" for="id_borrowed_date__lt">Borrowed date Before:</label>
        <input type="text" class="form-control" name="borrowed_date__lt" placeholder="Borrowed date Before" id="id_borrowed_date__lt">
      </div>
      
      
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Filter</button>
        
      </div>
      </div>
  </form>
  </div>
  
  
 
<table class="row table table-striped">
    <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Title</th>
          <th scope="col">Borrow/Return</th>
          <th scope="col">Borrower First Name</th>
          <th scope="col">Borrowed Date</th>
        </tr>
      </thead>
    {% for obj in filter.qs %}
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>{{ obj.book}}</td>
                <td>{{ obj.id }}</td>
                <td>{{ obj.borrowed_date }}</td>
              </tr>
            </tbody>
    {% endfor %}
</table>

{% endblock %}
   
