{% extends "base.html" %}

{% block content %}
  <h1>Dhamma Ethiopia Library </h1>
  <p>Welcome to Dhamma Ethiopia Book Mgt!</p>
  {% if user.is_authenticated %}
  <li><a href="{% url 'add-book' %}">Add Book</a></li>
  <li><a href="{% url 'add-member'%}">Add Member</a></li>
  <li><a href="{% url 'lend-book'%}">Lend A Book</a></li>
  <li><a href="{% url 'return-book'%}">Return A Book</a></li>
  {% endif %}
  
  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
  </ul>
{% endblock %}
